@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo Da 2', serif;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.logo{
    margin: 0 8rem;
}

.menu-hamburguer{
    display: none;
}

ul{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 0 8rem;
}

li{
    list-style: none;
    padding: 0 .1rem;
}

li a{
    color: rgb(57, 136, 96);
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 10px;
    font-size: 16px;
}

li a:hover{
    background-color: rgb(57, 136, 96);
    color: #FFF;
    border-radius: 5px;
}

.banner{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.img-wrapper{
    width: 100%;
    height: 100%;
    background-color: #000000;
    overflow: hidden;
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.main-banner{
    position: absolute;
    top: 20%;
    left: 45%;
}
.main-banner .box-content{
    position: relative;
    width: 35rem;
    height: 35rem;
    background-color: #fff;
    padding: 4rem;
}

.main-banner .box-content h1{
    font-size: 72px;
    text-transform: uppercase;
    font-weight: 700;
    color: #5C5C5C;
    line-height: 40px;
    font-family: 'Raleway', sans-serif;
}

.main-banner .box-content p{
    padding-top: 20px;
    font-size: 18px;
    font-weight: 500;
    color: #5C5C5C;
    font-family: 'Raleway', sans-serif;
}

.box-detail{
    position: absolute;
}
.box-detail #first{
    width: 225px;
    height: 640px;
    left: 947px;
    top: 140px;
    background: #286539;
    transform: rotate(36.32deg);
}

@media(max-width: 800px){
    ul{
        display: none;
        margin: 0;
    }

    .logo{
        margin: 0;
    }
    .list-column{
        display: block;
        flex-direction: column;
        justify-content: space-around;
        gap: 1rem;
        position: absolute;
        right: 0;
        top: 0;
        padding: 1rem 1rem;
        height: 100vh;
        width: 15rem;
        background-color: rgb(57, 136, 96);
    }

    .list-column ul{
        margin-top: 3rem;
        margin-left: 3rem;
        display: block;
    }

    .list-column li{
        padding: 1.2rem;
    }

    .list-column li a{
        color: #FFF;
    }

    .menu-hamburguer{
        display: block;
        position: fixed;
        z-index: 100;
        right: 2rem;
        top: 2rem;
    }
}